@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
/*font-family: 'Itim', cursive;*/
:root{
    --background-color: rgb(41, 16, 184);
    --pink-color: #F87652 ;
}
*{
    font-family: 'Itim', cursive;
}
body{
    background-color: var(--background-color) !important;
}
.nav_section .navbar-brand{
    font-size: 22px;
}
.nav_section .navbar-brand span{

    color: var(--pink-color);
}
.nav_section .navbar-nav li{
    margin: 0px 8px;
}
.nav_section .navbar-nav li a {
    color: white !important;
    font-size: 22px;
}
.nav_section .navbar-nav .nav-link::before{
    content: '';
    width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    transition: 0.5s;
}
.nav_section .navbar-nav .nav-link:hover::before{
    content: '';
    width: 17px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    
}